<h1>Modifier une ville</h1>
<%= simple_form_for @ville do |f| %>
  <%= f.input :name, label: "Nom" %>
  <%= f.input :departement, label: "Département" %>
  <%= f.input :region, label: "Région", collection: Ville::REGIONS %>
  <%= f.input :pays, as: :country, priority: ["France"] %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Annuler" , ville_path(@ville) %>
