<h1><%= @ville.name %>, <%= @ville.departement %><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_ville_path(@ville) %><%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, ville_path(@ville), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer?"} %></h1>
<p><%= link_to "Liste des lieux-dits pour la ville de " + @ville.name, ville_lieudits_path(@ville) %></p>
<p><%= link_to "Créer un lieu-dit", new_ville_lieudit_path(@ville) %></p>
<p><%= link_to "Liste des registres pour la ville de " + @ville.name, ville_registres_path(@ville) %></p>
<p><%= link_to "Créer un registre", new_ville_registre_path(@ville) %></p>
<p><%= link_to "Toutes les villes", villes_path %></p>
