<p id="commentaire-<%= commentaire.id %>">
<%= commentaire.user.prenom %> <%= commentaire.user.nom %>
  <br><%= commentaire.contenu %><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_commentaire_path(commentaire) %><%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, commentaire_path(commentaire), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer?"} %>
</p>
