<h1>Créer un nouveau registre pour <%= @ville.name %></h1>
<% if @registre.invalid? %>
  <% @registre.errors.full_messages.each do |m| %>
    <%= m %>
  <% end %>
<% end %>

<%= simple_form_for [@registre] do |f| %>
  <%= f.input :cote, label: "Côte" %>
  <%= f.input :anneededebut, label: "Année de début" %>
  <%= f.input :anneedefin, label: "Année de fin" %>
  <%= f.input :nature, label: "Nature", collection: Registre::NATURES %>
  <%= f.button :submit, "Modifier" %>
<% end %>
<p><%= link_to "Retour registres", ville_registres_path(@ville) %></p>
<p><%= link_to "Retour " + @ville.name, ville_path(@ville) %></p>
