<h1>Créer un nouveau lieu-dit pour <%= @ville.name %></h1>
<%= simple_form_for [@ville, @lieudit] do |f| %>
  <%= f.input :name, label: "Nom" %>
  <%= f.button :submit, "Créer" %>
<% end %>
<%= link_to "Retour ville", ville_path(@ville) %>
