<h1><%= @ville.name %></h1>
<% if @registre.anneededebut != @registre.anneedefin %>
  <h1><%= @registre.anneededebut + "-" + @registre.anneedefin + ", " + @registre.nature + " (côte: " + @registre.cote + ")" %>
<% else %>
  <h1><%= @registre.anneededebut + ", " + @registre.nature + " (côte: " + @registre.cote + ")" %>
<% end %>
<%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_ville_registre_path(@ville, @registre) %>
<%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, ville_registre_path(@ville, @registre), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer?"} %></h1>

<p>Actes disponibles pour le registre des <%= @registre.nature.downcase %> de la ville de <%= @ville.name %> pour
  <% if @registre.anneededebut == @registre.anneedefin %>
    l'année <%= @registre.anneededebut %></p>
  <% else %>
    la période <%= @registre.anneededebut %> - <%= @registre.anneedefin %>
  <% end %>
</p>

<% @actes.where(registre_id: @registre.id).each do |acte| %>
  <p><%= link_to acte.categorie + ", " + acte.datederedaction.to_s, ville_registre_acte_path(@ville, @registre, acte) %></p>
<% end %>

<p><%= link_to "Créer un acte pour ce registre", new_ville_registre_acte_path(@ville, @registre) %></p>
<p><%= link_to "Tous les Registres de " + @ville.name, ville_registres_path %></p>

