<h1>Créer un acte pour le registre des <%= @registre.nature.downcase %> de la ville de <%= @ville.name %>
  <% if @registre.anneededebut == @registre.anneedefin %>
    pour l'année <%= @registre.anneededebut %>
  <% else %>
    pour la période <%= @registre.anneededebut %> - <%= @registre.anneedefin %></p>
  <% end %>
</h1>


<%= simple_form_for [@registre, @acte], remote: true do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <% if @acte.errors.any? %>
    <ul>
    <% @acte.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <% if f.object.errors.any? %>
    <div>
      <% f.object.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

  <% if @registre.nature == "Baptêmes, Mariages, Sépultures" %>
    <%= f.input :categorie, label: "Catégorie", collection: ["Baptêmes", "Mariages", "Sépultures"] %>
  <% elsif @registre.nature == "Naissances, Mariages, Décès" %>
    <%= f.input :categorie, label: "Catégorie", collection: ["Naissances", "Mariages", "Décès"] %>
  <% else %>
    <%= f.input :categorie, as: :hidden, input_html: {value: @registre.nature }  %>
    <p>Catégorie : <%= @registre.nature %></p>
  <% end %>
  <%= f.input :reference, label: "Référence" %>
  <%= f.input :datederedaction, label: "Date de rédaction", as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :datedelevenement, label: "Date de l'évènement", as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :page, label: "Page" %>
  <%= f.button :submit, "Créer" %>
<% end %>

<%= link_to "Retour", registre_actes_path(@registre) %>
