<% j = @acte.datederedaction.strftime("%A") %>
<% if j == "Monday" %>
  <% j = "Lundi" %>
<% elsif j == "Tuesday" %>
  <% j = "Mardi" %>
<% elsif j == "Wednesday" %>
  <% j = "Mercredi" %>
<% elsif j == "Thursday" %>
  <% j = "Jeudi" %>
<% elsif j == "Friday" %>
  <% j = "Vendredi" %>
<% elsif j == "Saturday" %>
  <% j = "Samedi" %>
<% elsif j == "Sunday" %>
  <% j = "Dimanche" %>
<% end %>

<% m = @acte.datederedaction.strftime("%B") %>
<% if m == "January" %>
  <% m = "janvier" %>
<% elsif m == "Fabruary" %>
  <% m = "février" %>
<% elsif m == "March" %>
  <% m = "mars" %>
<% elsif m == "April" %>
  <% m = "avril" %>
<% elsif m == "May" %>
  <% j = "mai" %>
<% elsif m == "June" %>
  <% m = "juin" %>
<% elsif m == "July" %>
  <% m = "juillet" %>
<% elsif m == "August" %>
  <% m = "août" %>
<% elsif m == "September" %>
  <% m = "septembre" %>
<% elsif m == "October" %>
  <% m = "octobre" %>
<% elsif m == "November" %>
  <% m = "novembre" %>
<% elsif m == "December" %>
  <% m = "décembre" %>
<% end %>

<h1>Ville : <%= @ville.name %></h1>

<p><%= @acte.categorie %> - <%= j %> <%= @acte.datederedaction.strftime("%d") %> <%= m %> <%= @acte.datederedaction.year %><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_acte_path(@acte) %><%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, acte_path(@acte), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer?"} %></p>

<br>
<% if @acte.personnes.count != 0 %>
  <p>Liste des personnes apparaissant sur cet acte :</p>
  <ul>
    <% @acte.personnes.each do |personne| %>
      <li><%= personne.nom.upcase + " " + personne.prenom.capitalize %></li>
    <% end %>
  </ul>
  <% else %>
  <p>Aucune personne rattachée à cet acte</p>
<% end %>

<br>
<%= link_to "Créer une personne associée à cet acte", new_acte_personne_path(@acte) %>

<br><br>
<div id='first'>
  <%= render 'commentaires/first' %>
</div>

<div id='zone'>
  <%= render 'commentaires/zone' %>
</div>

<br>
<div id='comments'>
  <% @acte.commentaires.each do |commentaire| %>
    <%= render 'commentaires/contenu', commentaire: commentaire %>
  <% end %>
</div>

<% if @registre.anneededebut == @registre.anneedefin %>
  <%= link_to 'Liste des actes pour le registre des ' + @registre.nature.downcase + ' de la ville de ' + @ville.name + "pour l'année " + @registre.anneededebut, registre_actes_path(@registre) %>
<% else %>
  <%= link_to 'Tous les actes pour le registre des ' + @registre.nature.downcase + ' de la ville de ' + @ville.name + " pour la période " + @registre.anneededebut + "-" + @registre.anneedefin, registre_actes_path(@registre) %>
<% end %>
