<% j = @acte.datederedaction.strftime("%A") %>
<% if j == "Monday" %>
  <% j = "Lundi" %>
<% elsif j == "Tuesday" %>
  <% j = "Mardi" %>
<% elsif j == "Wednesday" %>
  <% j = "Mercredi" %>
<% elsif j == "Thursday" %>
  <% j = "Jeudi" %>
<% elsif j == "Friday" %>
  <% j = "Vendredi" %>
<% elsif j == "Saturday" %>
  <% j = "Samedi" %>
<% elsif j == "Sunday" %>
  <% j = "Dimanche" %>
<% end %>

<% m = @acte.datederedaction.strftime("%B") %>
<% if m == "January" %>
  <% m = "janvier" %>
<% elsif m == "Fabruary" %>
  <% m = "février" %>
<% elsif m == "March" %>
  <% m = "mars" %>
<% elsif m == "April" %>
  <% m = "avril" %>
<% elsif m == "May" %>
  <% j = "mai" %>
<% elsif m == "June" %>
  <% m = "juin" %>
<% elsif m == "July" %>
  <% m = "juillet" %>
<% elsif m == "August" %>
  <% m = "août" %>
<% elsif m == "September" %>
  <% m = "septembre" %>
<% elsif m == "October" %>
  <% m = "octobre" %>
<% elsif m == "November" %>
  <% m = "novembre" %>
<% elsif m == "December" %>
  <% m = "décembre" %>
<% end %>

<h1><%= @ville.name %></h1>

<p><%= @acte.categorie %> - <%= j %> <%= @acte.datederedaction.strftime("%d") %> <%= m %> <%= @acte.datederedaction.year %></p>

<% if @acte.commentaires.count != 0 %>
  <% t = Array.new %>
  <% @acte.commentaires.each do |commentaire| %>
    <% t << commentaire.fiabilite %>
  <% end %>
  <% s = (t.sum/t.count.to_f*100).ceil(1) %>
  <div>
    Fiabilité : <%= s %>% (<%= t.count %> <%= if t.count > 1 then 'votes' else 'vote' end %>)
    <% if s <= 50 && t.count >= 5 %>
      <%= "<i class='fas fa-exclamation-circle'></i>".html_safe %>
    <% elsif s >= 75 && t.count >= 5 %>
      <%= "<i class='fas fa-check-circle'></i>".html_safe %>
    <% else %>
      <%= "<i class='fas fa-question-circle'></i>".html_safe %>
    <% end %>
  </div>
<% else %>
  <p>Soyez le premier à noter la fiabilité de cet acte et laisser un commentaire</p>
<% end %>

<br>
<p>Liste des personnes apparaissant sur cet acte :</p>
<ul id='personne'>
  <% @acte.personnes.each do |personne| %>
    <%= render 'personnes/contenu', personne: personne %>
  <% end %>
</ul>

<br><br>
<br>
<p>Créer une personne associée à cet acte</p>
<%= simple_form_for([@ville, @registre, @acte, @personne], remote: true) do |f| %>
  <%= f.input :nom %>
  <%= f.input :prenom %>
  <%= f.button :submit, "Créer" %>
<% end %>

<br><br>
<br>
<%= simple_form_for([@ville, @registre, @acte, @commentaire], remote: true) do |f| %>
  <%= f.input :fiabilite, label: "Cet acte est-il fiable?", as: :boolean, as: :radio_buttons, collection: [['OUI', '1'], ['NON', '0']] %>
  <%= f.input :contenu, label: "Commentaire"  %>
  <%= f.button :submit, "Ajouter" %>
<% end %>

<br>
<div id='test'>
  <% @acte.commentaires.each do |commentaire| %>
    <%= render 'commentaires/contenu', commentaire: commentaire %>
  <% end %>
</div>

<%= link_to 'Liste des actes pour ' + @ville.name, ville_registre_actes_path(@ville, @registre) %>
