<% j = @acte.datederedaction.strftime("%A") %>
<% if j == "Monday" %>
  <% j = "Lundi" %>
<% elsif j == "Tuesday" %>
  <% j = "Mardi" %>
<% elsif j == "Wednesday" %>
  <% j = "Mercredi" %>
<% elsif j == "Thursday" %>
  <% j = "Jeudi" %>
<% elsif j == "Friday" %>
  <% j = "Vendredi" %>
<% elsif j == "Saturday" %>
  <% j = "Samedi" %>
<% elsif j == "Sunday" %>
  <% j = "Dimanche" %>
<% end %>

<% m = @acte.datederedaction.strftime("%B") %>
<% if m == "January" %>
  <% m = "janvier" %>
<% elsif m == "Fabruary" %>
  <% m = "février" %>
<% elsif m == "March" %>
  <% m = "mars" %>
<% elsif m == "April" %>
  <% m = "avril" %>
<% elsif m == "May" %>
  <% j = "mai" %>
<% elsif m == "June" %>
  <% m = "juin" %>
<% elsif m == "July" %>
  <% m = "juillet" %>
<% elsif m == "August" %>
  <% m = "août" %>
<% elsif m == "September" %>
  <% m = "septembre" %>
<% elsif m == "October" %>
  <% m = "octobre" %>
<% elsif m == "November" %>
  <% m = "novembre" %>
<% elsif m == "December" %>
  <% m = "décembre" %>
<% end %>

<p><%= @acte.categorie %> - <%= j %> <%= @acte.datederedaction.strftime("%d") %> <%= m %> <%= @acte.datederedaction.year %></p>

<% if @acte.commentaires.count != 0 %>
  <% t = Array.new %>
  <% @acte.commentaires.each do |commentaire| %>
    <% t << commentaire.fiabilite %>
  <% end %>
  <div>Fiabilité : <%= t.sum.fdiv(t.count).ceil(1) %></div>
<% end %>

<br>
<%= simple_form_for([@ville, @registre, @acte, @commentaire ], remote: true) do |f| %>
  <%= f.input :fiabilite, collection: [1, 2, 3, 4, 5] %>
  <%= f.input :contenu, label: "Commentaire"  %>
  <%= f.button :submit, "Ajouter" %>
<% end %>

<br>
<div id='test'>
  <% @acte.commentaires.each do |commentaire| %>
    <%= render 'commentaires/contenu', commentaire: commentaire %>
  <% end %>
</div>

