<% j = @acte.datederedaction.strftime("%A") %>
<% if j == "Monday" %>
  <% j = "Lundi" %>
<% elsif j == "Tuesday" %>
  <% j = "Mardi" %>
<% elsif j == "Wednesday" %>
  <% j = "Mercredi" %>
<% elsif j == "Thursday" %>
  <% j = "Jeudi" %>
<% elsif j == "Friday" %>
  <% j = "Vendredi" %>
<% elsif j == "Saturday" %>
  <% j = "Samedi" %>
<% elsif j == "Sunday" %>
  <% j = "Dimanche" %>
<% end %>

<% m = @acte.datederedaction.strftime("%B") %>
<% if m == "January" %>
  <% m = "janvier" %>
<% elsif m == "Fabruary" %>
  <% m = "février" %>
<% elsif m == "March" %>
  <% m = "mars" %>
<% elsif m == "April" %>
  <% m = "avril" %>
<% elsif m == "May" %>
  <% j = "mai" %>
<% elsif m == "June" %>
  <% m = "juin" %>
<% elsif m == "July" %>
  <% m = "juillet" %>
<% elsif m == "August" %>
  <% m = "août" %>
<% elsif m == "September" %>
  <% m = "septembre" %>
<% elsif m == "October" %>
  <% m = "octobre" %>
<% elsif m == "November" %>
  <% m = "novembre" %>
<% elsif m == "December" %>
  <% m = "décembre" %>
<% end %>

<h1><%= @ville.name %></h1>

<p><%= @acte.categorie %> - <%= j %> <%= @acte.datederedaction.strftime("%d") %> <%= m %> <%= @acte.datederedaction.year %></p>

<span id='fiabilite'><%= render 'commentaires/fiabilite' %></span>

<br>
<% if @acte.personnes.count != 0 %>
  <p>Liste des personnes apparaissant sur cet acte :</p>
  <ul>
    <% @acte.personnes.each do |personne| %>
      <li><%= personne.nom.upcase + " " + personne.prenom.capitalize %></li>
    <% end %>
  </ul>
  <% else %>
  <p>Aucune personne rattachée à cet acte</p>
<% end %>

<br>
<%= link_to "Créer une personne associée à cet acte", new_ville_registre_acte_personne_path(@ville, @registre, @acte) %>

<br><br>
<% if @acte.commentaires.count == 0 %>
  <p>Soyez le premier à noter la fiabilité de cet acte et laisser un commentaire</p>
<% end %>

<% c = [] %>
<% @acte.commentaires.each do |t| %>
  <% c << t.user_id %>
<% end %>

<% if c.include?(current_user.id)  %>
  <p>Modifier votre commentaire</p>
<% else %>
   <%= simple_form_for([@ville, @registre, @acte, @commentaire], remote: true) do |f| %>
    <%= f.input :fiabilite, label: "Cet acte est-il fiable?", as: :boolean, as: :radio_buttons, collection: [['OUI', '1'], ['NON', '0']] %>
    <%= f.input :contenu, label: "Commentaire"  %>
    <%= f.button :submit, "Ajouter" %>
  <% end %>
<% end %>

<br>
<div id='comments'>
  <% @acte.commentaires.each do |commentaire| %>
    <%= render 'commentaires/contenu', commentaire: commentaire %>
  <% end %>
</div>

<%= link_to 'Liste des actes pour ' + @ville.name, ville_registre_actes_path(@ville, @registre) %>
